<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Hooman</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
   
    .rating {
        margin-top: 10px;
        font-size: 24px;
    }
    
    .star {
        color: #FFD700;
    }
    </style> 
  </head>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <!-- <a class="navbar-brand" href="#">Navbar</a> -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex mx-auto "> 
                <div class="p-5">Shop</div>
            <div class="p-5"> <a href="/about">About Us</a></div>
            <div class="p-5">Subscribe</div>
            <div class="navbar-brand" style="height: 150px; width: 150px;"> <a href="/index.html"><img src="/static/imgs/Original on Transparent (1).png" class="img-thumbnail" alt="..." style="background-color: #f8f9fa; border-color: #f8f9fa;"></a> </div>

            <div class="p-5">Find in Store</div>
            <div class="p-5">🇮🇳INR</div>
            <div class="p-5">🔎</div>
            <div class="p-5">Cart</div></div>
           
         
        </div>
      </div>
    </nav>

  <body>
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-body-tertiary"
        style="background-image: url('/static/imgs/group.png'); ">
        <div class="col-md-6 p-lg-5 my-5" >

            <h3 class="display-3 fw-bold" style="display: flex; justify-content: start;">Bring Home the</h3>
            <h1 class="display-3 fw-bold" style="display: flex; justify-content: start;"> <b>Best!!!</b></h1>
            <h3 class="fw-normal text-muted mb-3" style="display: flex; justify-content: start;">From Leashes to flavors
                of Treats</h3>
            <h3 class="fw-normal text-muted mb-3" style="display: flex; justify-content: start;"><button type="button"
                    class="btn btn-primary">Shop Now</button></h3>

        </div>



        <div class="product-device shadow-sm d-none d-md-block"></div>
        <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
    </div>

    <div class="container text-center " >
    <h1><b style="color: #253546;">Shop Our</b> <span><b style="color: #FF6C21;">Collections</b></span></h1> 
    <p>Offering the Healthiest Treats to
        Stylish Leash</p>   
        <div class="row">
            <div class="col-md-4 col-sm-12 mb-3" id = "collection-image-1" >
             <a href=""><img src="/static/imgs/Collection-1.png" class="img-thumbnail" alt="..."></a>   
            </div>
            <div class="col-md-4 " >
             <a href=""><img src="/static/imgs/Collection-2.png" class="img-thumbnail" alt="..."></a>   
                
            </div>
            <div class="col-md-4 " >
              <a href=""><img src="/static/imgs/Collection-3.png" class="img-thumbnail" alt="..."></a>  

            </div>
        </div>
        <div class="row">
            <div class="row">
                <div class="col">
                    <a href="collection.html" class="btn my-3" style="display: inline-block; border-radius: 50%; background-color: #FFA502;font-size: 50px; text-decoration: none;">
                        →
                    </a>
                </div>
            </div>
        </div>
    </div>



    <!-- -------------------- -->
    
    <div class="container text-center" >
        <div class="row" style="background-color: #FFF2E9;">
            <div class="col-md-6 col-sm-12 mb-3" >
                <img src="/static/imgs/About-Hooman.png" class="img-thumbnail" style="background-color: #FFF2E9; border-color: #FFF2E9;" alt="...">
            </div>
            <div class="col-md-6 d-flex flex-column justify-content-center" >
                <h1 style="text-align: left;"><b style="color: #253546;">About the</b> <span><b style="color: #FF6C21;">Hooman</b></span></h1>
                <p style="text-align: left;">Our first & foremost focus is on the quality of our products and not just on sustainability. The Hooman brings in not just a variety of healthy treats but a wide variety of collars, leashes, bowls, and toys to cater to all types of pet's needs. <br></p>
                <button type="button" class="btn" style="width: 150px;background-color: #ff7402; box-shadow: 10px 10px 66px 0px rgba(255,165,2,0.75);
                -webkit-box-shadow: 10px 10px 66px 0px rgba(255, 116, 2, 0.907);
                -moz-box-shadow: 10px 10px 66px 0px rgba(255,165,2,0.75); color: white;"> <b>Learn More</b></button>
            </div>
        </div>
    </div>
    <!-- -------------------- -->
    <div class="container" style="margin-top: 50px;">
        <div class="row">
            <div class="col">

                <h1><b style="color: #253546;">Shop Our</b> <span><b style="color: #FF6C21;">Bestsellers</b></span></h1> 
                
            </div>
            <div class="col d-flex justify-content-end" style="height: 50px;">
                <button type="button" class="btn" style="background-color: #FFA502; box-shadow: 10px 10px 66px 0px rgba(255,165,2,0.75);
                -webkit-box-shadow: 10px 10px 66px 0px rgba(255,165,2,0.75);
                -moz-box-shadow: 10px 10px 66px 0px rgba(255,165,2,0.75); color: white;"> <b>Shop All</b></button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="para" style="color: #17212D;">

                    <p>Offering the Healthiest Treats to Stylish Leash</p>   
                </div>
                
            </div>
            
        </div>
    </div>
    <div class="container text-center my-5 " >
            <div class="row">
                <div class="col-md-4 col-sm-12 mb-3" id = "collection-image-1" >
                    <img src="/static/imgs/Bestseller-1.png" class="img-thumbnail" alt="...">
                    <h4>Veg Biz Woof</h4>
                    <p><s>Rs. 499</s></p>
                    <button type="button" class="btn btn-outline-secondary">Rs. 299</button>
                </div>
                <div class="col-md-4 " >
                    <img src="/static/imgs/Bestseller-2.png" class="img-thumbnail" alt="...">
                    <h4>Mutton Munchies</h4>
                    <p><s>Rs. 499</s></p>
                    <button type="button" class="btn btn-outline-secondary">Rs. 170</button>
                </div>
                <div class="col-md-4 " >
                    <img src="/static/imgs/Bestseller-3.png" class="img-thumbnail" alt="...">
                    <h4>Chicken Munchies</h4>
                    <p><s>Rs. 350</s></p>
                    <button type="button" class="btn btn-outline-secondary">Rs. 168</button>
                </div>
            </div>
        </div>
        <!-- ------------------- -->
        
        <div class="container text-center">
            <h1><b style="color: #253546;">Our Customers Love</b> <span><b style="color: #FF6C21;">Us</b></span></h1>
            <div class="row">
                <div class="col-md-4 col-sm-12 mb-3" id="collection-image-1">
                    <img src="https://images.pexels.com/photos/2069243/pexels-photo-2069243.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="img-thumbnail" alt="..." style="height: 400px; width: 350px;">
                    <div class="rating">
                        <span class="star">&#9733;</span>
                        <span class="star">&#9733;</span>
                        <span class="star">&#9733;</span>
                        <span class="star">&#9733;</span>
                        <span class="star">&#9733;</span>
                    </div>
                    <div class="customer-desc">
                        Lorem ipsum dolor sit amet consectetur. pretium odio pellentesque massa nibh facilisi adipiscing sed nulla.
                    </div>
                    <div class="customer-name">
                        <b>~Ramlal</b> 
                     </div>
                </div>
                <div class="col-md-4 col-sm-12 mb-3">
                    <img src="https://images.pexels.com/photos/1642228/pexels-photo-1642228.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="img-thumbnail" alt="..." style="height: 400px; width: 350px;">
                    <div class="rating">
                        <span class="star">&#9733;</span>
                        <span class="star">&#9733;</span>
                        <span class="star">&#9733;</span>
                        <span class="star">&#9733;</span>
                        <span class="star">&#9733;</span>
                    </div>
                    <div class="customer-desc">
                        Lorem ipsum dolor sit amet consectetur. pretium odio pellentesque massa nibh facilisi adipiscing sed nulla.
                    </div>
                    <div class="customer-name">
                        <b>~Ramlal</b> 
                     </div>
                </div>
                <div class="col-md-4 col-sm-12 mb-3">
                    <img src="https://images.pexels.com/photos/1557843/pexels-photo-1557843.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="img-thumbnail" alt="..." style="height: 400px; width: 350px;">
                    <div class="rating">
                        <span class="star">&#9733;</span>
                        <span class="star">&#9733;</span>
                        <span class="star">&#9733;</span>
                        <span class="star">&#9733;</span>
                        <span class="star">&#9733;</span>
                    </div>
                    <div class="customer-desc">
                        Lorem ipsum dolor sit amet consectetur. pretium odio pellentesque massa nibh facilisi adipiscing sed nulla.
                    </div>
                    <div class="customer-name">
                       <b>~Ramlal</b> 
                    </div>
                </div>
            </div>
        </div>
        
        <!-- ------------------- -->
        <div class="container-fluid" style="background-color: #17212D;">
            <div class="row d-flex justify-content-center" >
                <div class="col-md-4" >
                    <p></p>
                </div>
                <div class="col-md-4 d-flex justify-content-center" >
                    <img src="/static/imgs/Original on Transparent (1).png" class="img-thumbnail my-5" alt="..." style="background-color: #17212D; border-color: #17212D; width: 175px; height: 125px;">
                </div>
                <div class="col-md-4" >
                    <p></p>
                </div>
            </div>
            <div class="row d-flex justify-content-center" >
                <div class="col-md-4" >
                    <p></p>
                </div>
                <div class="col-md-4" >
                    <form class="row my-2">
                    
                        <div class="col ">
                          <label for="inputPassword2" class="visually-hidden">Password</label>
                          <input type="password" class="form-control" id="inputPassword2" placeholder="Email">
                          
                        </div>
                        <div class="col">
                          <button type="submit" class="btn mb-3" style="width: 150px;background-color: #ff7402; box-shadow: 10px 10px 66px 0px rgba(255,165,2,0.75);
                          -webkit-box-shadow: 10px 10px 66px 0px rgba(255, 116, 2, 0.907);
                          -moz-box-shadow: 10px 10px 66px 0px rgba(255,165,2,0.75); color: white;"><b>Subscribe</b></button>
                          
                         
                        </div>
                      </form>
                </div>
                <div class="col-md-4" >
                    <p></p>
                </div>
            </div>
            <div class="row d-flex justify-content-center" >
                <div class="col-md-4" >
                    <p></p>
                </div>
                <div class="col-md-4 d-flex justify-content-center" >
                
                    <p style="color: #f8f9fa;">Ⓒ 2023 The Hooman. All Rights Reserved.</p>
                </div>
                <div class="col-md-4" >
                    <p></p>
                </div>
            </div>
        </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-KyZXEAg3QhqLMpG8r+Y9DScQxA8KG8bl48vuhf/GtHQs8i47V/ra5StF1D8O9xVn" crossorigin="anonymous"></script>
  </body>
</html>




